.grid {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.item {
  flex-basis: 100pt; /* Adjust as needed */
  min-height: 10pt; /* Adjust as needed */
  border: 1px solid silver;
  box-sizing: border-box;
  color: black;
  font-size: 8pt;
  padding: 1pt;
}

.rowHeader {
  background: #eee;
  font-weight: bold;
}

.hidden {
  color: grey;
}

.gridUi {
  font-size: 6pt;
}

button.gridUi {
  border: 1px solid grey;
  background: silver;
}