.grid {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.item {
  min-width: 40pt; /* Adjust as needed */
  min-height: 10pt; /* Adjust as needed */
  border: 1px solid silver;
  box-sizing: border-box;
  color: black;
  font-size: 8pt;
  padding: 1pt;
}

//.noItem {
//  min-width: 40pt; /* Adjust as needed */
//  min-height: 10pt; /* Adjust as needed */
//}

.rowHeader {
  background: #eee;
  font-weight: bold;
}

.hidden {
  min-width: 40pt; // Make hidden row header cells shorter
  color: grey;
  font-size: 6pt;
}

button.uiShow {
  font-size: 6pt;
  border: 1px solid grey;
  background: green;
  color: white;
}
button.uiShow:hover {
  background: coral;
}
button.uiShow:hover::before {
  content: "show "
}

button.uiHide {
  font-size: 6pt;
  border: 1px solid grey;
  background: lightyellow;
}
button.uiHide:hover {
  background: coral;
}
button.uiHide:hover::before {
  content: "hide "
}
