$dark: #1B2023;
$medium-dark: #80949D;
$light: #D8E4FF;
$highlight: #E54F6D;
$marker-yellow: #FBE59D;

.App {
  text-align: center;
}

.header {
  white-space: nowrap;
  background-color: $dark;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  color: white;
}

.header a {
  color: $highlight;
}

.App-link {
  color: #61dafb;
}
